*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 30);
    align-items: center;

}

nav > a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: 2rem;

}

footer{
    background-color:black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: gray;
}

div{
    background-color: gray;
}

h1{
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 25rem;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gray;
}

#elden{
    border-radius: 3rem;
    width: 73.5rem;
    height: 20rem;
  
}

#persona{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15rem;
}

#miles{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top:-15.3rem;
}

#modern{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-top: -4.5rem;
}

#disco{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -15.3rem;
}

#neon{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15rem;
    margin-top: -4.5rem;
}

#norco{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -10.7rem;
}

#valorant{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-top: -8.9rem;
}

#stray{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -10.7rem;
}

#war{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-top: -8.9rem;
}

#light{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -10.7rem;
}

#tokyo{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-top: -8.9rem;
}

#impact{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -10.7rem;
}

#f{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-top: -8.9rem;
}

#takes{
    border-radius: 3rem;
    width: 36.7rem;
    height: 15em;
    margin-left: 36.7rem;
    margin-top: -10.7rem;
}
